.delete {
  color: #282c34;
  background-color: white;
}

.checkbox {
  margin-right: 10px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

li:hover {
  background-color: lightgrey;
}

.fa {
  font-size: 20px;
}

.itemDone {
  text-decoration: line-through;
  opacity: 0.5;
}
